.container {
  display: flex;
  gap: 2rem;
  flex-wrap: nowrap;
  padding: 2rem;
}

.container > div:first-child {
  height: fit-content;
  width: 25%;
}

.ordersDetails {
  height: auto;
  width: 73%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  margin-bottom: 2rem;
}

.heading h1 {
  color: #212121;
  font-size: 2.2rem;
  font-weight: 600;
}

.heading form {
  display: block;
  width: 40%;
}

.heading form input[type="text"] {
  display: block;
  width: 100%;

  padding: 1.5rem;

  color: #212121;
  font-family: inherit;
  font-size: 1.4em;
  font-weight: 500;

  background: url(/icons/search.svg) center right 7px no-repeat, transparent;
  border-radius: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.2s;
}

.heading form input[type="text"]:focus {
  outline-color: var(--website);
}

.orderTabel {
  overflow-x: auto;
  scroll-behavior: smooth;
  transition: all ease 0.5s;
}

.orderTabel::-webkit-scrollbar {
  height: 1rem;
  width: 1rem;
}

.orderTabel::-webkit-scrollbar-thumb {
  background-color: #2121212d;
  border-radius: 2rem;
}
.tabel {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}

.tabelHead,
.tableBody {
  display: block;
  width: 100%;
}

.tabelHead > tr {
  display: flex;
  align-items: center;

  height: auto;
  width: 100%;

  border-radius: 0.5rem;
}

.tabelHeader {
  min-width: 16.5%;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #00000080;
  background-color: #f7f7f7;
  white-space: nowrap;
  text-align: left;
}

.orderDetails {
  position: absolute;
  top: 0;
  right: -35%;
  z-index: 9999;
  height: 100vh;
  width: 35%;
  background-color: var(--white);
  animation: fadeIn 0.5s ease 0s 1 forwards;
}

@keyframes fadeIn {
  from {
    right: -35%;
  }
  to {
    right: 0%;
  }
}

.detailsHeading {
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.detailsHeading > h2,
.bill > h2 {
  color: #212121;

  font-size: 2.5rem;
  font-weight: 600;
}

.detailsHeading > button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.orderSummary {
  height: auto;
  width: 100%;

  padding: 1rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.orderTableHolder {
  height: 25vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  transition: all ease 0.5s;
}

.orderTableHolder::-webkit-scrollbar {
  width: 0.5rem;
}

.orderTableHolder::-webkit-scrollbar-thumb {
  background-color: #2121212d;
  border-radius: 2rem;
}

.orderHeading,
.orderTable {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  /* gap: 1rem; */

  margin-bottom: 1rem;
}
.orderHeading {
  background-color: #f3f6f9;
}

.orderHeading > div,
.orderTable > div {
  padding: 1rem;

  color: #212121;

  font-size: 1.5rem;
  font-weight: 500;

  /* white-space: nowrap; */
}

.orderHeading > div:first-child,
.orderTable > div:first-child {
  min-width: 20%;
}

.orderHeading > div:nth-child(2),
.orderTable > div:nth-child(2) {
  min-width: 40%;
}

.orderHeading > div:nth-child(3),
.orderTable > div:nth-child(3) {
  min-width: 20%;
}

.orderHeading > div:nth-child(4),
.orderTable > div:nth-child(4) {
  min-width: 20%;
}

.orderTable > div img {
  height: 6rem;
  width: 6rem;
  border-radius: 1rem;
}

.bill {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.bill > p {
  font-weight: 400;
  font-size: 1.6em;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.3rem 0rem;
}

.deliveryType {
  padding: 0.2rem 0.8rem;
  color: #136129;
  font-family: inherit;
  font-size: 1.4rem;
  margin-left: 1rem;
  background-color: #e5f8eb;
  border-radius: 0.5rem;
}

.bill > p:nth-child(6) {
  color: #0f9c0d;
  padding-top: 1rem;
  border-top: 0.2rem dashed rgba(0, 0, 0, 0.2);
}

.bill > p:last-child {
  margin: 1em 0em;
  padding: 0.7rem 0rem;
  border-top: 0.2rem dashed rgba(0, 0, 0, 0.2);
}

.invoiceBtn {
  align-self: flex-end;

  margin-top: 1rem;

  padding: 1rem 1.5rem;
  width: 50%;
  cursor: pointer;

  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 600;
  border: none;
  background-color: var(--website);
  color: var(--white);
  border-radius: 1rem;
}

.invoiceBtn + a {
  align-self: flex-end;
  padding: 1rem;
  margin-top: 1rem;

  color: #f11a00;

  font-size: 1.2rem;
  font-weight: 400;
}

@media only screen and (max-width: 1250px) {
  .orderDetails {
    right: -50%;
    width: 50%;
  }

  @keyframes fadeIn {
    from {
      right: -50%;
    }
    to {
      right: 0%;
    }
  }
}

@media only screen and (max-width: 992px) {
  .tabelHeader {
    min-width: 12rem;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    flex-wrap: wrap;
  }

  .container > div:first-child,
  .ordersDetails {
    width: 100%;
  }

  .orderDetails {
    right: -100%;
    width: 100%;
  }

  @keyframes fadeIn {
    from {
      right: -100%;
    }
    to {
      right: 0%;
    }
  }

  .ordersDetails {
    border: none;
    padding: 0rem;
  }
}

@media only screen and (max-width: 576px) {
  .heading form {
    padding: 1rem 0rem;
    width: 100%;
  }

  .detailsHeading,
  .orderSummary {
    padding: 1rem 2rem;
  }

  .bill > p {
    margin: 0.5rem 0rem;
  }
}
