.link {
  padding: 10px 15px;
  font-size: 1.6em;
  font-weight: 500;
  color: #212121;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(28, 28, 28, 0.08);
  border: 1px solid #e8e8e8;
  white-space: nowrap;
  border-radius: 10px;
  transition: all ease 0.5s;
}
.link:hover {
  border-color: var(--website);
  font-weight: 600;
  color: var(--website);
  background: #eca5b21f;
}
