.slider {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  transition: all ease 0.5s;
}
.slider::-webkit-scrollbar {
  display: none;
}
