.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  padding: 2rem 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 8px rgba(28, 28, 28, 0.08);
  border: 1px solid #e8e8e8;
  border-radius: 1rem;
}

.txt {
  color: #212121;

  font-size: 1.5rem;
  font-weight: 600;
}

.count {
  display: inline-block;
  padding: 0.2rem 0.7rem;
  background-color: var(--website);
  color: #fff;

  border-radius: 50%;
}

.btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 600;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btnIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  border: 0.2rem solid #848484;
  border-radius: 50%;
}

.btnIcon > img {
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: middle;
}
