.container {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.product {
  width: 65%;
  height: auto;
  padding: 10px;
}
.payment {
  height: auto;
  padding: 10px;
  width: 33%;
}

.locationCont {
  display: flex;
  align-items: center;
  gap: 1rem;

  cursor: pointer;
}

.locationCont > img {
  height: 1.6rem;
  width: 1.6rem;
}

.location {
  font-size: 1.4rem;
  font-weight: 400;
}

@media only screen and (max-width: 997px) {
  .container {
    flex-wrap: wrap;
  }
  .product,
  .payment {
    width: 100%;
    padding: 0px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    padding: 1rem 1rem 12rem;
  }
}
