.container {
  padding: 1rem;

  border: 1px solid #e8e8e8;
  border-bottom: none;
  border-radius: 1rem 1rem 0rem 0rem;
}

.heading {
  color: #212121;

  margin-bottom: 1rem;
  font-size: 1.7rem;
  font-weight: 600;
}

.container > form {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
}
.inputField {
  width: 75%;
  padding: 1.5rem;

  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 400;

  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.submitBtn {
  width: 24%;
  color: var(--website);
  padding: 1.5rem;

  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 600;

  background-color: transparent;
  border: 0.1rem solid var(--website);
  border-radius: 0.5rem;
  cursor: pointer;
}

.offersContainer {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 2rem;
  width: 100%;

  margin: 0rem 0rem 1rem;
  padding: 1rem;

  border: 1px solid #e8e8e8;
  border-top: 0.2rem dashed rgba(0, 0, 0, 0.2);
  border-radius: 0rem 0rem 1rem 1rem;
}

.offersContainer > div {
  display: flex;
  align-items: center;
}

.offersContainer > div > img {
  height: 3rem;
  width: 3rem;

  vertical-align: middle;
  margin-right: 0.5rem;
}

.offersContainer span {
  color: #000;

  font-size: 1.7rem;
  font-weight: 600;
}

.offersContainer p {
  color: #212121;

  font-size: 1.5rem;
  font-weight: 400;
}

.selectBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;

  background-color: transparent;
  border: 0.2rem solid #848484;
  border-radius: 50%;
  cursor: pointer;
}

.selectBtn > img {
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: middle;
}

.discountSlider {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  width: 100%;
  height: 40vh;

  padding: 0rem 1rem;
  margin-bottom: 1rem;

  overflow-y: auto;
  scroll-behavior: smooth;
  transition: all ease 0.5s;
}

.discountSlider::-webkit-scrollbar {
  width: 0.7rem;
}

.discountSlider::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.164);
  border-radius: 1rem;
}
