.container {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 1rem 10rem;
  gap: 1rem;
}

.container > img {
  height: auto;
  width: 30%;
}
.container > h1 {
  font-size: 3em;
  font-weight: 700;
  color: #212121;
  /* opacity: 0.7; */
}
.container > p {
  font-size: 1.6em;
  font-weight: 400;
  color: #848484;
  text-align: center;
}
.container > a {
  position: relative;

  padding: 1.5rem 3rem;
  margin-top: 2em;

  color: var(--website);
  background-color: #ff385d0e;

  font-size: 1.6em;
  font-weight: 600;
  text-align: center;
  transition: all 0.3s ease;

  border: 0.1rem solid var(--website);
  border-radius: 1rem;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .container > img {
    width: 50%;
  }
  .container > a {
    margin-top: 1em;
  }

  .container {
    padding: 12rem 1rem;
  }
}
