.container {
  position: relative;
  height: auto;
  width: 100%;
  box-shadow: 0 2px 8px rgba(28, 28, 28, 0.08);
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  margin-bottom: 1em;
}
.heading {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.heading > p {
  font-weight: 500;
  font-size: 1.9em;
  color: #0d1619;
}
.heading > img {
  height: 25px;
  width: 25px;
  vertical-align: middle;
  cursor: pointer;
}
.productContainer {
  height: auto;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  border-radius: 5px 5px 0 0;
}
.productContainer > img {
  height: 200px;
  width: 200px;
  border-radius: 5px;
}
.ProductDetails {
  /* position: relative; */

  height: auto;
  width: 80%;

  padding: 1rem;
}
.pHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pHeading > h1 {
  font-weight: 500;
  font-size: 2em;
  color: #000;
}
.pHeading > img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.Additions {
  color: #0d1619;
  font-weight: 600;
  font-size: 2.5rem;
}

.detailsHolder {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(47%, 2fr));
  gap: 20px;
}

.date {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0.5em 0em;
  color: #0d1619;
}
.date > img {
  height: 2rem;
  width: 2rem;

  vertical-align: middle;
}
.date > span {
  margin-left: 0.3em;
}

.bookingDate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  font-size: 1.5em;
  font-weight: 500;
  color: #0d1619;
  margin: 0.5em 0em;
}
.bookingDate > img {
  height: 25px;
  width: 25px;
  margin-right: 0.5em;
}
.bookingDate > div > span {
  font-weight: 600;
  margin-left: 0.5em;
}

.bookingDate ~ span {
  font-weight: 400;
  font-size: 1.3em;
  font-family: inherit;
  color: #000;
  background-color: #fff;
  width: 100%;
  padding: 10px;
  display: block;
  margin-bottom: 0.5em;
  border-radius: 10px;
}
.bookingDate ~ p {
  font-size: 1.4em;
  font-weight: 600;
  color: #0d1619;
  margin: 1em 0em 0.3em;
}

.instructionsBox {
  width: 100%;

  padding: 0.5rem 0rem 1rem;
  border-radius: 1rem;
}
.instructionsBox > button {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;

  width: 40%;

  background-color: transparent;
  border: none;

  color: #0d1619;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;

  cursor: pointer;
}

.iconHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  border: 0.2rem solid #848484;

  border-radius: 50%;
}

.iconHolder img {
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: middle;
}

.priceHolder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.priceHolder > div {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  gap: 1em;
}

.beforePrice {
  color: #808080;

  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: line-through;
}

.discount {
  color: #45bb00;
  font-size: 1.4rem;
  font-weight: 700;
}

.ammount > select {
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 400;

  padding: 0.2rem 0.8rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.textOutput {
  width: 100%;

  color: #212121;

  font-size: 1.4rem;
  font-weight: 400;

  margin-top: 1rem;
  padding: 1rem;

  background-color: transparent;
  border-radius: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 767px) {
  .detailsHolder {
    grid-template-columns: repeat(auto-fit, minmax(100%, 2fr));
    gap: 10px;
  }
  .detailsHolder > div:last-child {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .dateContainer {
    grid-template-columns: repeat(auto-fit, minmax(100%, 2fr));
    gap: 0;

    padding-bottom: 5rem;
  }

  .instructionsBox > button {
    width: 60%;
  }
}
@media only screen and (max-width: 600px) {
  .productContainer {
    padding: 1rem;
  }
  .productContainer > img {
    height: 10rem;
    width: 10rem;
    border-radius: 1rem;
  }
  .ProductDetails {
    padding: 0rem;
    width: 100%;
  }
  .pHeading {
    margin-bottom: 0.5em;
    padding: 0px;
  }
  .detailsHolder > div:first-child {
    position: relative;
  }
  .Additions {
    font-size: 1.9rem;
    font-weight: 500;
  }

  .priceHolder {
    margin-top: 2rem;
  }

  .priceHolder > div {
    gap: 0.5rem;
  }

  .beforePrice,
  .discount {
    font-size: 1.2rem;
    white-space: nowrap;
  }

  .instructionsBox > button {
    width: 70%;
  }

  .ammount > select {
    position: absolute;
    top: 50%;
    left: -35%;
  }
}
