.priceDetailsContainer {
  margin: 1em 0em;
  height: auto;
  width: 100%;
  box-shadow: 0 2px 8px rgba(28, 28, 28, 0.08);
  border: 1px solid #e8e8e8;

  padding: 1rem;
  border-radius: 1rem;
}
.priceDetailsContainer > h4 {
  font: 500;
  font-size: 2em;
  color: #000;
}
.priceDetailsContainer > p {
  font-weight: 400;
  font-size: 1.6em;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.9em 0em;
}
.priceDetailsContainer > p:nth-child(6) {
  color: #0f9c0d;
  padding-top: 10px;
  border-top: 2px dashed rgba(0, 0, 0, 0.2);
}
.priceDetailsContainer > p:last-child {
  margin: 1em 0em;
  padding: 7px 0px;
  border-top: 2px dashed rgba(0, 0, 0, 0.2);
}

.proceedToBuyContainer {
  position: relative;
  width: 100%;
  padding: 1rem;
  height: auto;
  background-color: var(--white);
}
.proceedToBuyContainer > button {
  position: relative;
  padding: 1.5rem;
  display: block;
  width: 100%;
  background-color: var(--website);
  color: #fff;
  font-family: inherit;
  font-weight: 500;
  font-size: 1.7em;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}
.proceedToBuyContainer > button::before {
  content: "";
  height: 100%;
  width: 5%;
  background-color: #f8dfba5e;
  position: absolute;
  bottom: 0px;
  left: 0px;
  transform: rotate(3deg);
  animation: buyshadow 2s ease-in-out 0s infinite forwards;
}

@keyframes buyshadow {
  0% {
    left: 0%;
  }
  100% {
    left: 95%;
  }
}

.deliveryTag {
  padding: 0.2rem 0.8rem;
  color: #136129;

  font-family: inherit;
  font-size: 1.4rem;
  margin-left: 1rem;

  background-color: #e5f8eb;
  border-radius: 0.5rem;
}

.priceBillHolder {
  display: none;
}

.txt {
  color: #000;

  font-size: 1.4rem;
  font-weight: 400;
}

.txt > span {
  color: #46b275;
  font-weight: 700;
}

.totalPrice {
  color: #212121;

  font-size: 2rem;
  font-weight: 700;
}

.viewBillBtn {
  color: #212121;

  padding-bottom: 0.5rem;

  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: underline;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.signUpContaier {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;

  height: auto;
  width: 35%;

  padding: 4rem 2rem;

  background-color: #fff;
  border-radius: 2rem;
  overflow: hidden;
  animation: fadeIn 0.5s ease 0s 1 forwards;
}

@keyframes fadeIn {
  from {
    top: 150%;
  }
  to {
    top: 50%;
  }
}

.signUpHeading {
  color: #212121;

  font-size: 3rem;
  font-weight: 600;
}

.signUpText {
  color: #848484;

  font-size: 1.5rem;
  font-weight: 400;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;

  padding: 2rem 0rem 1rem;
}

.form label {
  color: #000;
  font-size: 1.6rem;
  font-weight: 500;
}

.input {
  display: block;
  width: 100%;

  padding: 1.5rem;
  margin-bottom: 1rem;

  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 400;

  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.4rem;
  outline: none;
}

.input[type="number"]::-webkit-inner-spin-button,
.input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type="number"] {
  -moz-appearance: textfield;
}

.termsText {
  color: #000;

  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.termsText > a {
  color: var(--website);
  font-weight: 500;
}

.submitBtn {
  width: 30%;
  align-self: flex-end;

  padding: 1rem;

  color: #fff;
  background-color: var(--website);
  font-size: 1.8rem;
  font-weight: 600;
  font-family: inherit;
  text-align: center;

  border: none;
  border-radius: 1rem;

  cursor: pointer;
}

.closeBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;

  background-color: transparent;
  border: 0.1rem solid rgba(0, 0, 0, 0.5);

  border-radius: 50%;
  cursor: pointer;
}

.closeBtn img {
  height: 3rem;
  width: 3rem;

  vertical-align: middle;
}

.inputHolder {
  position: relative;
}

.correct {
  position: absolute;
  height: 2rem;
  width: 2rem;
  top: 1.5rem;
  right: 1rem;
  animation: visible 0.2s ease 0s 1 forwards;
  z-index: 9;
}

.wrongIcon {
  position: absolute;
  height: 2rem;
  width: 2rem;
  top: 1.5rem;
  right: 1rem;
  cursor: pointer;
  animation: shake 0.5s linear 0s 1 forwards;
}

.right {
  border: 0.1rem solid #46b275 !important;
}

.wrong {
  border: 0.1rem solid #ff0000;

  animation: shake 0.5s linear 0s 1 forwards;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes visible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.warningMessage {
  color: #ff0000;

  font-size: 1.4rem;
  font-weight: 400;
}

.backBtn {
  position: absolute;
  top: 3rem;
  left: 1rem;

  display: none;
  color: #000;
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 500;
}

.backBtn img {
  height: 2.5rem;
  width: 2.5rem;
  vertical-align: middle;
  margin-right: 1rem;
}

.goLeft {
  animation: fadeOutLeft 0.2s linear 0s 1 forwards;
}

@keyframes fadeOutLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-150%);
    display: none;
  }
}

.formHolder {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2rem;

  overflow-x: hidden;
}
.form {
  min-width: 100%;
}

.eyeIcon {
  position: absolute;
  right: 4rem;
  top: 1.3rem;

  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
}

.normalTxt {
  color: #212121;

  font-size: 1.4rem;
  font-weight: 400;
}
@media only screen and (max-width: 997px) {
  .proceedToBuyContainer {
    position: fixed;
    bottom: 0px;
    left: 0px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;

    padding: 2rem 2rem 1rem;
    border-radius: 3rem 3rem 0rem 0rem;

    box-shadow: 0px -12px 11px rgba(3, 7, 18, 0.03),
      0px -50px 42px rgba(3, 7, 18, 0.02), 0px -112px 95px rgba(3, 7, 18, 0.01);

    z-index: 9;
  }

  .signUpContaier {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .priceBillHolder {
    display: block;
  }

  .proceedToBuyContainer > button,
  .signUpContaier {
    width: 60%;
  }
}

@media only screen and (max-width: 576px) {
  .signUpContaier {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    border-radius: 0rem;
  }

  .signUpContaier {
    top: 0%;
    left: 0%;
    transform: none;
    z-index: 99;
  }

  @keyframes fadeIn {
    from {
      top: 150%;
    }
    to {
      top: 0%;
    }
  }

  .closeBtn {
    top: 3rem;
  }

  .backBtn {
    display: block;
  }
}
