.stepsContainer {
  height: auto;
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stepsContainer > p {
  font-size: 2em;
  font-weight: 500;
  color: #000;
}
.stepsCount {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding: 10px 0px;
}
.stepsRuler {
  position: absolute;
  height: 0.1rem;
  width: 98%;
  top: 50%;
  right: 0rem;

  border-bottom: 0.3rem dotted #867b7b4b;
}
@keyframes fillerMove {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
.stepBox {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;

  background-color: #fff;
  z-index: 2;

  padding: 0rem 1rem;
}
.stepBox > span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 0.2rem solid #ccc;
  color: #fff;
  font-weight: 400;
  font-size: 2em;
}
.stepBox > span.activeStep {
  border-color: var(--website);
  border-width: 0.3rem;
  animation: drop 1s ease 0s 1 forwards;
  animation: bigSmall 3s linear 0s infinite forwards;
}

/* @keyframes bigSmall {
  0% {
    transform: scale(0.8);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
} */

.stepBox > span.activeStep + p,
.stepBox > span.activeStep2 + p {
  font-weight: 600;
}
@keyframes drop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.stepBox > span.activeStep2 {
  border-color: var(--website);
  border-width: 0.3rem;
}

.stepBox > p {
  font-weight: 400;
  font-size: 1.5em;
  color: #282828;
  text-align: right;
}

@media only screen and (max-width: 600px) {
  .stepsContainer > p {
    display: none;
  }
  .stepsContainer {
    justify-content: center;
  }
  .stepsCount {
    width: 100%;
  }
}
