.link > img {
  height: 30px;
  width: 30px;
  opacity: 0.7;
  vertical-align: middle;
}
.link {
  padding: 10px;
  font-size: 1.4em;
  font-weight: 400;
  color: #000;
  display: flex;
  align-items: center;
  gap: 5px;
}

@media only screen and (max-width: 992px) {
  .link > span {
    display: none;
  }
}

@media only screen and (max-width: 540px) {
  .link > img {
    height: 16px;
    width: 16px;
  }
}
