.navbar {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
}
.logo {
  font-size: 4em;
  font-weight: 600;
  color: var(--website);
}
.navbarLinks {
  display: flex;
  align-items: center;
  gap: 20px;
}
.search {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}
.search > div {
  width: 70%;
  margin: 0 auto;
}
.navbarLinks > button {
  display: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 1.4em;
  font-weight: 400;
  color: #212121;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(28, 28, 28, 0.08);
  border: 1px solid #e8e8e8;
  border-radius: 100px;
  cursor: pointer;
}
.navbarLinks > button > img {
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.mobileDynamicLinks {
  position: fixed;
  z-index: 999;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 90%;
  background-color: #fff;
  animation: fadeIn 0.5s ease 0s 1 forwards;
}
.heading {
  position: relative;
  height: auto;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 15px;
}
.heading > img {
  height: 50px;
  width: 50px;
  opacity: 0.7;
}
.cancleBtn {
  font-size: 2.5em;
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.userDetails > p {
  font-size: 2.5em;
  font-weight: 600;
  color: #212121;
}
.userDetails > span {
  display: block;
  color: #828282;
  font-size: 1.4em;
  font-weight: 400;
  margin: 0em 0em 1.5em 0.3em;
}
.userDetails > a {
  background-color: #fff;
  color: var(--website);
  margin: 1em 0.5em 1em 0.3em;
  font-size: 1.5em;
  padding: 4px 15px;
  border: 1px solid var(--website);
  border-radius: 5px;
  transition: all ease 0.5s;
}
.userDetails > a:last-child {
  background-color: var(--website);
  color: #fff;
}
.userDetails > a:hover {
  background-color: var(--website);
  color: #fff;
}
.content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.content > a {
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(28, 28, 28, 0.08);
  border: 1px solid #e8e8e8;
  padding: 15px;
  border-radius: 10px;
}
.content > a:hover {
  border-radius: 10px 10px 0px 0px;
}
@keyframes fadeIn {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}
@media only screen and (max-width: 1250px) {
  .navbar,
  .search {
    max-width: 1140px;
  }
}
@media only screen and (max-width: 1140px) {
  .navbar,
  .search {
    max-width: 960px;
  }
}

@media only screen and (max-width: 992px) {
  .navbar,
  .search {
    max-width: 720px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar,
  .search {
    max-width: 540px;
    padding: 10px 10px 0px;
  }
  .search > div {
    width: 100%;
  }
  .navbarLinks a,
  .dynamicLinks {
    display: none;
  }
  .navbarLinks > button {
    display: block;
  }
}
