.container {
  display: flex;
  gap: 2rem;
  flex-wrap: nowrap;
  padding: 2rem;
}

.container > div:first-child {
  height: fit-content;
  width: 25%;
}

.changePassword {
  height: auto;
  width: 73%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.heading {
  color: #212121;
  font-size: 2.2rem;
  font-weight: 600;

  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  width: 80%;
}

.submitBtn {
  margin-top: 2rem;
  width: 40%;
  padding: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
  font-family: inherit;
  background-color: var(--website);
  color: var(--white);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

@media only screen and (max-width: 992px) {
  .form {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    flex-wrap: wrap;
  }

  .container > div:first-child,
  .changePassword {
    width: 100%;
  }

  .changePassword {
    border: none;
    padding: 0rem;
  }
}

@media only screen and (max-width: 576px) {
  .submitBtn {
    width: 100%;
  }
}
