.container_wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  left: 10px;
}
.container {
  height: auto;
  width: 100%;
}
.mainImage {
  height: auto;
  width: 100%;
  border-radius: 10px;
}
.mainImage img {
  height: auto;
  width: 100%;
  border-radius: 1em;
  cursor: pointer;
}
@media only screen and (max-width: 997px) {
  .container_wrapper {
    top: 0px;
    left: 0px;
    position: relative;
  }
}
@media only screen and (max-width: 576px) {
  .mainImage {
    overflow: hidden;
    border-radius: 0px;
  }
  .mainImage img {
    border-radius: 0px;
  }
}
