.container {
  height: auto;
  width: 100%;

  padding: 1rem 0rem;
}

.heading {
  color: #212121;

  font-size: 2rem;
  font-weight: 600;

  margin-bottom: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;

  margin: 0;
  padding: 0;
}
.list li {
  margin-left: 2rem;
}
.icon {
  height: 2rem;
  width: 2rem;

  margin-left: 0.5rem;

  vertical-align: middle;
}
