.container {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.priceContainer {
  display: flex;
  gap: 5px;
}
.price {
  font-size: 3.5em;
  font-weight: 600;
  color: #212121;
  opacity: 0.8;
}
.prevPrice {
  color: #a6a3a5;
  font-size: 1.4em;
  line-height: 160%;
  text-decoration: line-through;
  white-space: nowrap;
  margin-left: 4px;
}
.discount {
  margin-left: 0.8rem;

  color: #f11a00;

  font-size: 1.4em;
  font-weight: 700;
  line-height: 160%;
  text-transform: capitalize;

  white-space: nowrap;
}
.discount + p {
  font-size: 1.3em;
  font-weight: 400;
  color: #212121;
}

@media only screen and (max-width: 576px) {
  .container {
    align-items: flex-start;
    flex-direction: column;

    gap: 10px;
  }
}
