.container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;

  height: auto;
  width: 100%;

  list-style: none;
  padding: 1rem 0rem;

  overflow-x: auto;
  scroll-behavior: smooth;
  transition: all ease 0.5s;
}
.container::-webkit-scrollbar {
  display: none;
}
.image,
.image img {
  height: 9rem;
  width: 9rem;

  border-radius: 1rem;
}

.viewmoreBtn {
  color: var(--website);

  font-family: inherit;
  font-size: 1.5rem;
  white-space: nowrap;

  background-color: transparent;
  border: none;
  cursor: pointer;
}
.count {
  color: #fff;

  font-size: 1.6rem;
  font-weight: 500;
}
.nestedImages {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: auto;
  width: 30%;
}

.nestedImages img {
  height: auto;
  width: 100%;
  border-radius: 1rem;
}
.nestedImageHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1rem;
}

.closeModal {
  font-size: 2rem;

  padding: 0.5rem 1rem;

  border-radius: 50%;
  border: none;
}
@media only screen and (max-width: 1250px) {
  .nestedImages {
    width: 40%;
  }
}
@media only screen and (max-width: 1140px) {
  .nestedImages {
    width: 50%;
  }
}
@media only screen and (max-width: 992px) {
  .nestedImages {
    width: 60%;
  }
}
@media only screen and (max-width: 768px) {
  .nestedImages {
    width: 70%;
  }
}
@media only screen and (max-width: 576px) {
  .nestedImages {
    width: 80%;
  }
}
