.container {
  margin-bottom: 2rem;
}
.heading {
  position: relative;
  font-size: 1.6em;
  font-weight: 700;
  color: #212121;
  margin-bottom: 1rem;
}
.heading + div {
  position: relative;
}
.btn {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 1rem;
  padding: 1.5rem;
  color: #212121;
  font-size: 1.5em;
  font-family: inherit;
  font-weight: 600;
  border: none;
  margin-bottom: 1rem;
  cursor: pointer;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
}
.btn > img {
  height: 2rem;
  width: 2rem;
  vertical-align: middle;
  margin-right: 0.5em;
}
.animate {
  position: absolute;
  left: 27%;
  white-space: nowrap;
  text-wrap: nowrap;
  font-size: 0.7em;
  padding: 0.5rem 1rem;
  background-color: var(--website);
  color: #fff;
  border-radius: 1rem;
  bottom: 1.5rem;
  animation: upDown 12s linear 0s infinite forwards;
}
.animate::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -0.5rem;
  border: 0.5rem solid transparent;
  border-right-color: var(--website);
}
@keyframes upDown {
  0% {
    bottom: -0.5rem;
  }
  25% {
    bottom: 0.5rem;
  }
  50% {
    bottom: -0.5rem;
  }
  75% {
    bottom: 0.5rem;
  }
  100% {
    bottom: -0.5rem;
  }
}

@media only screen and (max-width: 576px) {
  .animate {
    display: none;
  }
}
