.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin: 0px 10px 10px;
  border-bottom: 1px groove rgba(0, 0, 0, 0.2);
}
.container > h2 {
  position: relative;
  font-size: 2.5em;
  font-weight: 600;
  color: #000;
}
.container > a {
  position: relative;
  font-size: 1.6em;
  font-weight: 600;
  color: var(--website);
  padding: 10px;
  border-radius: 10px;
}
.container > a::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 0%;
  background-color: var(--website);
  bottom: 0px;
  left: 0px;
  transition: all ease 0.5s;
}
.container > a:hover::before {
  width: 100%;
}
@media only screen and (max-width: 576px) {
  .container > h2 {
    font-size: 2em;
  }
}
