.container {
  padding: 20px 10px;
  height: auto;
  width: 100%;
  text-align: center;
}

.container > h2 {
  font-size: 3em;
  font-weight: 800;
  color: var(--website);
}

.container > p {
  font-size: 1.6em;
  font-weight: 500;
  color: #212121;
  margin-top: 0.5em;
}
.slider {
  width: 100%;
  padding: 20px 0px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13%, 2fr));
  gap: 30px;
}
@keyframes popUp {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
.controller {
  display: none;
  justify-content: center;
  padding: 10px 0px 0px;
  gap: 10px;
}
.controller > button {
  font-size: 1.8em;
  font-weight: 400;
  font-family: inherit;
  padding: 8px 10px;
  background-color: transparent;
  box-shadow: 0 2px 8px rgba(28, 28, 28, 0.08);
  border: 1px solid #e8e8e8;
  border-radius: 100px;
  cursor: pointer;
}
.active {
  background-color: var(--website) !important;
  color: #fff !important;
}
@media only screen and (max-width: 1250px) {
  .slider {
    grid-template-columns: repeat(auto-fit, minmax(15%, 2fr));
  }
}
@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 992px) {
  .slider {
    grid-template-columns: repeat(auto-fit, minmax(20%, 2fr));
    gap: 20px;
  }
}

@media only screen and (max-width: 768px) {
  /* .container {
    padding: 10px;
    background-color: #7d27ff17;
    text-align: left;
    margin-top: 1em;
    border-radius: 20px 20px 0px 0px;
  }
  .container > h2,
  .container > p {
    color: #7f27ff;
  } */
  .container > h2,
  .container > p {
    display: none;
  }
  .slider {
    grid-template-columns: repeat(auto-fit, minmax(24%, 2fr));
    gap: 20px;
    padding: 20px 20px 0px;
  }
  /* .slider {
    padding: 20px 0px 0px;
  } */
  .controller {
    display: flex;
  }
}
