.controller {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.controller div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  transition: all ease 0.5s;
}
.controller > a {
  position: relative;
  font-size: 1.6em;
  font-weight: 600;
  color: var(--website);
  padding: 10px;
  border-radius: 10px;
}
.controller > a::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 0%;
  background-color: var(--website);
  bottom: 0px;
  left: 0px;
  transition: all ease 0.5s;
}
.controller > a:hover::before {
  width: 100%;
}
.controller > div > button {
  background-color: #fff;
  padding: 0 16px;
  margin-right: 12px;
  font-style: normal;
  font-family: inherit;
  font-weight: 800;
  font-size: 1.4em;
  line-height: 20px;
  height: 40px;
  box-sizing: border-box;
  white-space: nowrap;
  cursor: pointer;
  color: #212121;
  border: 1px solid rgba(0, 0, 0, 0.11);
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.active {
  background-color: #eca5b21f !important;
  padding: 0 16px;
  margin-right: 12px;
  font-style: normal;
  font-family: inherit;
  font-weight: 500;
  font-size: 1.6em;
  line-height: 20px;
  height: 40px;
  box-sizing: border-box;
  white-space: nowrap;
  cursor: pointer;
  color: var(--website) !important;
  border: 1px solid var(--website) !important;
  border-radius: 10px;
  display: flex;
  align-items: center;
  transition: all ease 0.5s;
}
.leftHeading h2 {
  text-align: left;
}
.container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  height: auto;
  width: 100%;
  padding: 10px;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  transition: all ease 0.5s;
}
.container::-webkit-scrollbar {
  display: none;
}
.container > a {
  min-width: 23%;
}

@media only screen and (max-width: 992px) {
  .container {
    gap: 10px;
  }
  .container > a {
    min-width: 30%;
  }
}

/* @media only screen and (max-width: 768px) {
  .container > a {
    min-width: 40%;
  }
} */

@media only screen and (max-width: 576px) {
  .container > a {
    min-width: 55%;
  }
}
